.wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}
.item {
  border-left: 8px solid;
  background-color: #ffffff;
  box-shadow: 10px 10px 0px #333333;
}

.school .name {
  font-weight: bold;
  font-size: 1.3em;
}
.gpa h4 {
  font-size: 1.8em;
  color: #e74c3c;
}
