.wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #2f353f;
  background-size: cover;
  color: #333333;
  font-size: 1.3em;
  overflow-x: hidden;
}

.group {
  h4 {
    margin: 10px 20px;
    color: #ffffff;
    font-weight: bold;
  }
}
