.wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #bdc3c7;
  color: #333333;
  font-size: 1.3em;
}

.container {
  h4 {
    font-size: 1.2em;
    font-weight: bold;
  }
  p {
    font-size: 0.8em;
  }
  i.position {
    color: #c0392b;
  }
}
