@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-about: #222844;
  --color-experience: #353e5a;
  --color-extra: #4b404f;
  --color-education: #6d3b47;
  --color-skills: #262c40;
}
